/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
 font-family: 'Architects Daughter', cursive;
font-family: 'Crafty Girls', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Volkhov', serif;
font-family: 'Concert One', cursive;
*/
            #apDiv1 {
	position: absolute;
	width: 1000px;
	height: 168px;
	z-index: 1;
	border-radius: 10px 10px 0px 0px;
            }
            #apDiv2 {
	position: absolute;
	width: 518px;
	height: 21px;
	z-index: 1;
	left: -2px;
	top: 126px;
	background-color: #FFF;
	border-radius: 20px 20px 20px 20px;
		            }
            #apDiv3 {
	position: absolute;
	width: 251px;
	height: 50px;
	z-index: 1;
	top: 190px;
	left: 771px;
            }
            #apDiv4 {
	position: absolute;
	width: 140px;
	height: 40px;
	z-index: 2;
	left: 640px;
	top: 182px;
            }
            #apDiv5 {
	position: absolute;
	width: 280px;
	height: 30px;
	z-index: 1;
	left: 720px;
	top: 240px;
	background-color: #003f5e;
	border-radius: 0px 10px 0px 0px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	clip: rect(auto,auto,auto,auto);
            }
            #apDiv6 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: 729px;
	top: 275px;
            }
            #apDiv7 {
	position: absolute;
	width: 260px;
	height: 22px;
	z-index: 1;
	left: 730px;
	top: 471px;
	background-color: #003f5e;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
            }
            #apDiv8 {
	position: absolute;
	width: 259px;
	height: 200px;
	z-index: 1;
	left: 731px;
	top: 503px;
            }
            #apDiv9 {
	position: absolute;
	width: 33px;
	height: 35px;
	z-index: 1;
	left: 206px;
	top: -223px;
            }
            #apDiv10 {
            position: absolute;
            width: 713px;
            height: 39px;
            z-index: 2;
            left: -1px;
            top: 206px;
            }
        strong {
}
div {
	text-align: center;
}
        div {
	font-size: 18px;
}
        .class body nav .menu #apDiv3 form {
	font-size: 12px;
}
        form {
	font-size: 12px;
}
        #apDiv11 {
	position: absolute;
	width: 257px;
	height: 31px;
	z-index: 1;
	left: 11px;
	top: 5px;
	font-weight: normal;
	bottom: -1px;
}
        #apDiv12 {
	position: absolute;
	width: 260px;
	height: 24px;
	z-index: 1;
	left: 0px;
	top: 2px;
	font-weight: normal;
	bottom: -1px;
}
        #apDiv13 {
	position: absolute;
	width: 225px;
	height: 41px;
	z-index: 2;
	left: 35px;
	top: 982px;
}
        #apDiv14 {
	position: absolute;
	width: 98px;
	height: 68px;
	z-index: 3;
	left: 546px;
	top: 22px;
	border-radius: 0px 0px 0px 0px;
}
        #apDiv15 {
	position: absolute;
	width: 260px;
	height: 24px;
	z-index: 4;
	left: 729px;
	top: 721px;
	background-color: #003f5e;
}
        #apDiv16 {
	position: absolute;
	width: 260px;
	height: 24px;
	z-index: 5;
	left: 728px;
	top: 724px;
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}
        #apDiv17 {
	position: absolute;
	width: 260px;
	height: 78px;
	z-index: 6;
	left: 730px;
	top: 885px;
}
        #apDiv18 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 7;
	left: 729px;
	top: 752px;
}
        #apDiv19 {
	position: absolute;
	width: 138px;
	height: 43px;
	z-index: 8;
	left: 500px;
	top: 191px;
	color: #000080;
	font-size: 30px;
}
        #apDiv20 {
	position: absolute;
	width: 39px;
	height: 18px;
	z-index: 9;
	left: 523px;
	top: 184px;
}
        .class body section article p {
	font-weight: bold;
}
        #apDiv21 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 10;
	left: 272px;
	top: 745px;
}
        #apDiv22 {	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 10;
	left: 320px;
	top: 751px;
}
        #apDiv23 {
	position: absolute;
	width: 669px;
	height: 51px;
	z-index: 10;
	left: 308px;
	top: 975px;
}
        #apDiv24 {
    font-family: 'Acme', sans-serif;
	position: absolute;
	width: 631px;
	height: 25px;
	z-index: 1;
	left: 220px;
	top: 30px;
	color: #000;
	font-size: 60px;
	border-top-color: #000;
}
        #apDiv25 {
	position: absolute;
	width: 360px;
	height: 30px;
	z-index: 10;
	left: 300px;
	top: 980px;
	font-size: 12px;
	color: #FFF;
}
        #apDiv26 {
	position: absolute;
	width: 576px;
	height: 26px;
	z-index: 11;
	left: 200px;
	top: 996px;
	font-size: 12px;
	color: #FFF;
}
        #apDiv27 {
	position: absolute;
	width: 300px;
	height: 80px;
	z-index: 12;
	font-size: 30px;
	color: #FFF;
	left: 700px;
	top: 995px;
}

 #apDiv28 {
	font-family: Arial, Helvetica, sans-serif;
	color: #1C2123;
	margin-left: 10px;
	font-size: 30px;
	text-align: center;
	border-top: #006680;
}

#contenido{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	color: #000;
}
/*ETIQUETAS*/
body{

background-repeat: no-repeat;
background-size: cover;
background-color: #fff;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin-left: 10px;
	font-size: 60px;
	text-align: center;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #1C2123;
	margin-left: 10px;
	font-size: 15px;
	text-align: center;
	border-top: #006680;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: #006680;
	font-size: 15px;
	text-align: center;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: #3B1038;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
h5{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: #fff;
	font-size: 13px;
	text-align: center;
}
h6{
	font-family: Arial, Helvetica, sans-serif;
	;
	color: #302F87;
	font-size: 8pt;
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}
header{
	width: auto;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}
nav{
	width: 1000px;
	height: 65px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
	color: #006680;
}
ul{
margin: auto;
margin-left: -45px;
padding-top: 5px;
}
li{
	float: left;

	list-style-type: none;
	padding: 13px;
	background: #c0c0c0;
	margin: 7px;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px black;
	margin-top: 10px;
}
section{
	width: 713px;
	background: #FFF;
	height: 720px;
	float: left;
	margin-top: 8px;
	border-radius: 10px 0px 0px 0px;
}

section#multimedia{
	width: 1000px;
	background: white;
	height: 720px;
	float: left;
	margin-top: 8px;
	border-radius: 10px 0px 0px 0px;
}
aside{
	width: 280px;
	background: white;
	height: 720px;
	float: left;
	margin-left: 7px;
	margin-top: 7px;
	border-radius: 0px 10px 0px 0px;
}
footer{
	width: 1000px;
	height: 70px;
	background: #003f5e;
	float: left;
	margin-top: 7px;
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 20px;
	font-size: 12px;
	text-align: left;
}
p{

	font-size: 14px;
	font-weight: bolder;
	line-height: 24px;
	padding: 3px;
	text-align: justify;
}
p.one{
	font-size: 12pt;
	font-weight: lighter;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;

}
/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}
.menu:link{

	font-family: 'Kaushan Script', cursive;
	color: #FFF;
	text-decoration: none;
}
.menu:visited{
	color: #FFF;
	text-decoration: none;
}
.menu:hover{
	color: #FF6600;
	text-decoration: none;
	/*text-shadow: 0 0 13px white;*/
}
.menu:active{
	color: #003F5E;
	text-decoration: none;

}

.menu li:hover ul {
        display:block;
        position: absolute;
        padding: 0;
        margin:-16px;
        margin-top:10px;
        width: 10px;
        float: none;
                }
.menu  li ul {

        display:none;
        position:absolute;
        min-width:130px;
        }



.first:link{
	display: block;
	color: #FFF;
	text-decoration: none;
	opacity: 0;
}
.first:hover{
	display: block;
	color: #FF6600;
	text-decoration: none;
	opacity: 1;
}

.first:visited{
	display: block;
	color: #fff;
	text-decoration: none;
	opacity: 0;
}
.first:active{
	color: #003F5E;
	text-decoration: none;
	opacity: 0;
}
/*SEUDO CLASES*/
p {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}

/*codigo para pagina de inicio*/
#tematica{
	background: #00CCFF;
	height: 280px;
	width: 703px;
	padding: 2px;
	border-radius: 10px 10px 10px 10px;

}
#objetivo{
	background: #fff;
	height: 150px;

}
#logos{
	width: 693px;
	background: #fff;
	height: 90px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
#tematica #inicioimg1{
	
	background: #00CCFF;
	width: 230px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
#tematica #inicioimg2{
	background: #00CCFF;
	width: 230px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
#tematica #inicioimg3{
	background: #00CCFF;
	width: 230px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
.espacio{
	width: 713px;
	height: 35px;
	background: #fff;
}
#objetivo #objetivo1{
	background: #003f5e;
	height: 15px;
}
#logos #logo1{
	background: #fff;
	width: 170px;
	height: 90px;
	display: inline-block;
	vertical-align: top;
}
#logos #logo2{
	background: #fff;
	width: 170px;
	height: 90px;
	display: inline-block;
	vertical-align: top;
}
#logos #logo3{
	background: #fff;
	width: 170px;
	height: 90px;
	display: inline-block;
	vertical-align: top;
}
#logos #logo4{
	background: #fff;
	width: 170px;
	height: 90px;
	display: inline-block;
	vertical-align: top;
}

img.dos{
	width: 170px;
	height: 68px;
	margin-top: -1px;
	border-radius: 5px;

}
img.tres{
	width: 170px;
	height: 68px;
	margin-top: -1px;
	border-radius: 5px;

}
img.cuatro{
	width: 170px;
	height: 68px;
	margin-top: -1px;
	border-radius: 5px;

}
img.cinco{
	width: 170px;
	height: 68px;
	margin-top: -1px;
	border-radius: 5px;

}
img.seis{
	width: 570px;
	height: 400px;
	margin-top: -1px;
	border-radius: 5px;
}
img.siete{
	width: 400px;
	height: 300px;
	margin-top: -1px;
	border-radius: 5px;
}

/*codigo para pagina de lecturas*/

section#lectu{
	width: 998px;
	background: #fff;
	height: 720px;
	float: left;
	margin-top: 8px;
	border-radius: 10px 0px 0px 0px;}

#titulos_lec{
	background: #FFF;
	height: 280px;
	width: 980px;
	padding: 5px;
	border : 3px;
	margin-left: 5px;
	border-radius: 10px 10px 10px 10px;
}
#titulos_lec #logolec1{
	
	background: #FFCC00;
	width: 323px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
#titulos_lec #logolec2{
	background: #FFCC00;
	width: 323px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
#titulos_lec #logolec3{
	background: #FFCC00;
	width: 323px;
	height: 260px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
#imanbajo{
	background: #FFF;
	height: 260px;
	width: 980px;
	padding: 5px;
	border : 3px;
	margin-left: 5px;
	border-radius: 10px 10px 10px 10px;
}
/* codigo autores*/

section#autor1{
	width: 998px;
	background: #fff;
	height: 720px;
	float: left;
	margin-top: 8px;
	border-radius: 10px 0px 0px 0px;
}
#foto_autor{
	background: #00CCFF;
	height: 650px;
	width: 998px;
	padding: 2px;
	border-radius: 10px 10px 10px 10px;

}
#foto_autor #foto_autor1{
	
	background: #fff;
	width: 480px;
	height: 628px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
	border-radius: 10px 10px 10px 10px;
}
#foto_autor #foto_autor2{
	
	background: #fff;
	width: 480px;
	height: 628px;
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
	border-radius: 10px 10px 10px 10px;
}
#autor1 #autores{
	font-family: 'Acme', sans-serif;
	position: center;
	width: 998px;
	height: 60px;
	left: 220px;
	color: blue;
	font-size: 60px;
	border-top-color: #000;
	margin: 5px;
}
#foto_autor1 #datos{
	font-family: 'Acme', sans-serif;
	
	width: 480px;
	height: 60px;
	left: 220px;
	color: blue;
	font-size: 30px;
	border-top-color: #000;
	margin: 5px;
}